# PyCity Schools Analysis
---
## Summary of the Shool Data
##### Two datasets have been combined to allow for analysis between student success and school information. The Schools dataset includes basic information about various schools such as type, budget, and size. The Students dataset holds basic information about student information and performace, including student names, school names, current grade level, and test scores for math and reading. After merging these datasets, various information has been filtered and calculated to glean conclusions about student performance.
---

### Evaluating the combined datasets reveals a few notable conclusions:

- From the School Type Summary, it is clear that Charter schools have more success with the overall passing rates of their students. Given that the Charter Schools populations range over the entire population count parameters, this is a definitive marker of success for the entire student population.

- Schools that have a population under 2000 have a noticable difference in success(taken from the Size Summary table). Greater populace schools suffered in average math scores and overall passing rate. The only outlier within the large school category, with high grades throughout all of the categories is Wilson High School, which is a Charter School. Reinforcing the previous conclusion about Charter School success.

- The schools classified as large had the highest per-student expenditure, which makes it appear that budget does not create more success among students. In fact, the schools with the lowest budgets had the most success for test scores and passing rates. From the School Spending Summary, it may be surmised that the greater the budget, the lower the scores and passing rates. Without knowing where the budget is going, we cannot conclude that schools should get less money, as the schools with lower budgets may be prioritizing equipment and learning opportunities that are simply more effective. Another school with a higher budget may be spending toward materials that are not condusive to an enriching learning environment.
---

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path
import dataframe_image as dfi

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
# Calculate the total number of unique schools
school_count = school_data["school_name"].nunique()
school_count

15

In [3]:
# Calculate the total number of students
student_count = student_data["Student ID"].count()
student_count

39170

In [4]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [5]:
# Calculate the average (mean) math score
average_math_score = student_data["math_score"].mean()
average_math_score

78.98537145774827

In [6]:
# Calculate the average (mean) reading score
average_reading_score = student_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [7]:
# Calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
student_count = student_data["student_name"].count()
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
student_count = student_data["student_name"].count()
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [9]:
# Calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame

district_summary = pd.DataFrame({"Total Schools":[school_count], "Total Students":[student_count],
                                 "Total Budget": [total_budget], "Average Math Score":[average_math_score],
                                 "Average Reading Score":[average_reading_score], "% Passing Math":[passing_math_percentage],
                                  "% Passing Reading":[passing_reading_percentage], "% Overall Passing":[overall_passing_rate]})
# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display results
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [11]:
# Use the code provided to select all of the school types           
school_types = school_data.groupby("school_name")["type"].sum()

#Display results
school_types

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [12]:
# Calculate the total student count per school
per_school_counts = school_data_complete.groupby("school_name")["student_name"].count()

#Display results
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [13]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data.groupby("school_name")["budget"].mean()

#Divide the budget per school by the number of students at each school
per_student_budget = per_school_budget / per_school_counts

#Display results
print(per_school_budget)
print(per_student_budget)

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64
school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [14]:
# Calculate the average test scores per school
average_math_score = school_data_complete.groupby("school_name")["math_score"].mean()
average_reading_score = school_data_complete.groupby("school_name")["reading_score"].mean()

#Display results
average_math_score
average_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [15]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete.loc[school_data_complete["math_score"] >= 70]
school_students_passing_math = students_passing_math.groupby("school_name")["math_score"].count()

#Display results
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: math_score, dtype: int64

In [16]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70]
school_students_passing_reading = students_passing_reading.groupby("school_name")["reading_score"].count()

#Display results
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: reading_score, dtype: int64

In [17]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

#Display results
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [18]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [19]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above
per_school_summary = pd.DataFrame({"School Type":school_types, "Total Students":per_school_counts, "Total School Budget":per_school_budget, 
                                   "Per Student Budget":per_student_budget, "Average Math Score":average_math_score, "Average Reading Score":average_reading_score,
                                    "% Passing Math":per_school_passing_math, "% Passing Reading":per_school_passing_reading, 
                                    "% Overall Passing":overall_passing_rate})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].map("{:,.1f}%".format)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].map("{:,.1f}%".format)
per_school_summary["% Passing Math"] = per_school_summary["% Passing Reading"].map("{:,.1f}%".format)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].map("{:,.1f}%".format)
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].map("{:,.1f}%".format)

#Clear the index
per_school_summary.index.name = None

# Display results
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.0%,81.0%,81.9%,81.9%,54.6%
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.1%,84.0%,97.0%,97.0%,91.3%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.7%,81.2%,80.7%,80.7%,53.2%
Ford High School,District,2739,"$1,763,916.00",$644.00,77.1%,80.7%,79.3%,79.3%,54.3%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.4%,83.8%,97.1%,97.1%,90.6%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.3%,80.9%,80.9%,80.9%,53.5%
Holden High School,Charter,427,"$248,087.00",$581.00,83.8%,83.8%,96.3%,96.3%,89.2%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.6%,81.2%,81.3%,81.3%,53.5%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.1%,81.0%,81.2%,81.2%,53.5%
Pena High School,Charter,962,"$585,858.00",$609.00,83.8%,84.0%,95.9%,95.9%,90.5%
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.8%,80.7%,80.2%,80.2%,53.0%
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.4%,83.7%,95.9%,95.9%,89.9%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.4%,83.8%,97.3%,97.3%,90.9%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.3%,84.0%,96.5%,96.5%,90.6%
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.7%,84.0%,96.6%,96.6%,90.3%

## Highest-Performing Schools (by % Overall Passing)

In [20]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows
top_schools = per_school_summary.sort_values(by="% Overall Passing", ascending=False)

top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.1%,84.0%,97.0%,97.0%,91.3%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.4%,83.8%,97.3%,97.3%,90.9%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.4%,83.8%,97.1%,97.1%,90.6%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.3%,84.0%,96.5%,96.5%,90.6%
Pena High School,Charter,962,"$585,858.00",$609.00,83.8%,84.0%,95.9%,95.9%,90.5%

## Bottom Performing Schools (By % Overall Passing)

In [21]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows
bottom_schools = per_school_summary.sort_values(by="% Overall Passing", ascending=True)

bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.8%,80.7%,80.2%,80.2%,53.0%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.7%,81.2%,80.7%,80.7%,53.2%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.3%,80.9%,80.9%,80.9%,53.5%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.6%,81.2%,81.3%,81.3%,53.5%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.1%,81.0%,81.2%,81.2%,53.5%

## Math Scores by Grade

In [22]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grade_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grade_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grade_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({"9th":ninth_grade_math_scores, "10th":tenth_grade_math_scores, "11th":eleventh_grade_math_scores,
                                     "12th": twelfth_grade_math_scores})

# Data wrangling
math_scores_by_grade.index.name = None

#Formatting
math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:,.1f}%".format)
math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:,.1f}%".format)
math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:,.1f}%".format)
math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:,.1f}%".format)

# Display results
math_scores_by_grade

                         9th   10th   11th   12th
Bailey High School     77.1%  77.0%  77.5%  76.5%
Cabrera High School    83.1%  83.2%  82.8%  83.3%
Figueroa High School   76.4%  76.5%  76.9%  77.2%
Ford High School       77.4%  77.7%  76.9%  76.2%
Griffin High School    82.0%  84.2%  83.8%  83.4%
Hernandez High School  77.4%  77.3%  77.1%  77.2%
Holden High School     83.8%  83.4%  85.0%  82.9%
Huang High School      77.0%  75.9%  76.4%  77.2%
Johnson High School    77.2%  76.7%  77.5%  76.9%
Pena High School       83.6%  83.4%  84.3%  84.1%
Rodriguez High School  76.9%  76.6%  76.4%  77.7%
Shelton High School    83.4%  82.9%  83.4%  83.8%
Thomas High School     83.6%  83.1%  83.5%  83.5%
Wilson High School     83.1%  83.7%  83.2%  83.0%
Wright High School     83.3%  84.0%  83.8%  83.6%

## Reading Score by Grade

In [23]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grade_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_grade_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_grade_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"9th":ninth_grade_reading_scores, "10th":tenth_grade_reading_scores,
                                        "11th":eleventh_grade_reading_scores, "12th":twelfth_grade_reading_scores})

# Data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

#Formatting
reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:,.1f}%".format)
reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:,.1f}%".format)
reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:,.1f}%".format)
reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:,.1f}%".format)

# Display results
reading_scores_by_grade

                         9th   10th   11th   12th
Bailey High School     81.3%  80.9%  80.9%  80.9%
Cabrera High School    83.7%  84.3%  83.8%  84.3%
Figueroa High School   81.2%  81.4%  80.6%  81.4%
Ford High School       80.6%  81.3%  80.4%  80.7%
Griffin High School    83.4%  83.7%  84.3%  84.0%
Hernandez High School  80.9%  80.7%  81.4%  80.9%
Holden High School     83.7%  83.3%  83.8%  84.7%
Huang High School      81.3%  81.5%  81.4%  80.3%
Johnson High School    81.3%  80.8%  80.6%  81.2%
Pena High School       83.8%  83.6%  84.3%  84.6%
Rodriguez High School  81.0%  80.6%  80.9%  80.4%
Shelton High School    84.1%  83.4%  84.4%  82.8%
Thomas High School     83.7%  84.3%  83.6%  83.8%
Wilson High School     83.9%  84.0%  83.8%  84.3%
Wright High School     83.8%  83.8%  84.2%  84.1%

## Scores by School Spending

In [24]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [25]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [26]:
# Use `pd.cut` to categorize spending based on the bins.
spending_ranges = pd.cut(per_student_budget, spending_bins, labels=labels)
school_spending_df["Spending Ranges (Per Student)"] = spending_ranges

#Display results
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.0%,81.0%,81.9%,81.9%,54.6%,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.1%,84.0%,97.0%,97.0%,91.3%,<$585
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.7%,81.2%,80.7%,80.7%,53.2%,$630-645
Ford High School,District,2739,"$1,763,916.00",$644.00,77.1%,80.7%,79.3%,79.3%,54.3%,$630-645
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.4%,83.8%,97.1%,97.1%,90.6%,$585-630
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.3%,80.9%,80.9%,80.9%,53.5%,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.8%,83.8%,96.3%,96.3%,89.2%,<$585
Huang High School,District,2917,"$1,910,635.00",$655.00,76.6%,81.2%,81.3%,81.3%,53.5%,$645-680
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.1%,81.0%,81.2%,81.2%,53.5%,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.8%,84.0%,95.9%,95.9%,90.5%,$585-630
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.8%,80.7%,80.2%,80.2%,53.0%,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.4%,83.7%,95.9%,95.9%,89.9%,$585-630
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.4%,83.8%,97.3%,97.3%,90.9%,$630-645
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.3%,84.0%,96.5%,96.5%,90.6%,<$585
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.7%,84.0%,96.6%,96.6%,90.3%,<$585

In [27]:
#Revert percent values to float
school_spending_df["Average Math Score"] = school_spending_df["Average Math Score"].replace("%", "", regex=True).astype(float)
school_spending_df["Average Reading Score"] = school_spending_df["Average Reading Score"].replace("%", "", regex=True).astype(float)
school_spending_df["% Passing Math"] = school_spending_df["% Passing Math"].replace("%", "", regex=True).astype(float)
school_spending_df["% Passing Reading"] = school_spending_df["% Passing Reading"].replace("%", "", regex=True).astype(float)
school_spending_df["% Overall Passing"] = school_spending_df["% Overall Passing"].replace("%", "", regex=True).astype(float)
#  Calculate averages for the desired columns. 
spending_math_score = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_score = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [28]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({"Average Math Score":spending_math_score, "Average Reading Score": spending_reading_score,
                                 "% Passing Math":spending_passing_math, "% Passing Reading":spending_passing_reading,
                                 "% Overall Passing":overall_passing_spending})
#Formatting
spending_summary["Average Math Score"] = spending_summary["Average Math Score"].map("{:.1f}%".format)
spending_summary["Average Reading Score"] = spending_summary["Average Reading Score"].map("{:,.1f}%".format)
spending_summary["% Passing Math"] = spending_summary["% Passing Math"].map("{:,.1f}%".format)
spending_summary["% Passing Reading"] = spending_summary["% Passing Reading"].map("{:,.1f}%".format)
spending_summary["% Overall Passing"] = spending_summary["% Overall Passing"].map("{:,.1f}%".format)

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.5%,84.0%,96.6%,96.6%,90.3%
$585-630,81.9%,83.1%,92.7%,92.7%,81.4%
$630-645,78.5%,81.6%,84.4%,84.4%,62.9%
$645-680,77.0%,81.0%,81.1%,81.1%,53.5%

## Scores by School Size

In [29]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [30]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
school_size = pd.cut(per_school_counts, size_bins, labels=labels)
per_school_summary["School Size"] = school_size

#Display results
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.0%,81.0%,81.9%,81.9%,54.6%,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.1%,84.0%,97.0%,97.0%,91.3%,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.7%,81.2%,80.7%,80.7%,53.2%,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.1%,80.7%,79.3%,79.3%,54.3%,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.4%,83.8%,97.1%,97.1%,90.6%,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.3%,80.9%,80.9%,80.9%,53.5%,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.8%,83.8%,96.3%,96.3%,89.2%,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.6%,81.2%,81.3%,81.3%,53.5%,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.1%,81.0%,81.2%,81.2%,53.5%,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.8%,84.0%,95.9%,95.9%,90.5%,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.8%,80.7%,80.2%,80.2%,53.0%,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.4%,83.7%,95.9%,95.9%,89.9%,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.4%,83.8%,97.3%,97.3%,90.9%,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.3%,84.0%,96.5%,96.5%,90.6%,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.7%,84.0%,96.6%,96.6%,90.3%,Medium (1000-2000)

In [31]:
# Calculate averages for the desired columns. 
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].replace("%", "", regex=True).astype(float)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].replace("%", "", regex=True).astype(float)
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].replace("%", "", regex=True).astype(float)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].replace("%", "", regex=True).astype(float)
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].replace("%", "", regex=True).astype(float)

size_math_scores = per_school_summary.groupby("School Size")["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby("School Size")["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby("School Size")["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby("School Size")["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby("School Size")["% Overall Passing"].mean()

In [32]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({"Average Math Score":size_math_scores,
                             "Average Reading Score":size_reading_scores, "% Passing Math":size_passing_math,
                             "% Passing Reading":size_passing_reading, "% Overall Passing":size_overall_passing})
#Formatting
size_summary["Average Math Score"] = size_summary["Average Math Score"].map("{:,.1f}%".format)
size_summary["Average Reading Score"] = size_summary["Average Reading Score"].map("{:,.1f}%".format)
size_summary["% Passing Math"] = size_summary["% Passing Math"].map("{:,.1f}%".format)
size_summary["% Passing Reading"] = size_summary["% Passing Reading"].map("{:,.1f}%".format)
size_summary["% Overall Passing"] = size_summary["% Overall Passing"].map("{:,.1f}%".format)

# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.8%,83.9%,96.1%,96.1%,89.8%
Medium (1000-2000),83.4%,83.9%,96.8%,96.8%,90.6%
Large (2000-5000),77.7%,81.3%,82.8%,82.8%,58.3%

## Scores by School Type

In [33]:
#Reset percent values back to floats
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].replace("%", "", regex=True).astype(float)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].replace("%", "", regex=True).astype(float)
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].replace("%", "", regex=True).astype(float)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].replace("%", "", regex=True).astype(float)
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].replace("%", "", regex=True).astype(float)

# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [34]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({"Average Math Score":average_math_score_by_type, "Average Reading Score":average_reading_score_by_type,
                             "% Passing Math":average_percent_passing_math_by_type, "% Passing Reading": average_percent_passing_reading_by_type,
                             "% Overall Passing":average_percent_overall_passing_by_type})
#Formatting
type_summary["Average Math Score"] = type_summary["Average Math Score"].map("{:,.1f}%".format)
type_summary["Average Reading Score"] = type_summary["Average Reading Score"].map("{:,.1f}%".format)
type_summary["% Passing Math"] = type_summary["% Passing Math"].map("{:,.1f}%".format)
type_summary["% Passing Reading"] = type_summary["% Passing Reading"].map("{:,.1f}%".format)
type_summary["% Overall Passing"] = type_summary["% Overall Passing"].map("{:,.1f}%".format)

# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.5%,83.9%,96.6%,96.6%,90.4%
District,76.9%,81.0%,80.8%,80.8%,53.7%

In [35]:
complete_school_summary = pd.DataFrame({"School Type":school_types, "Total Students":per_school_counts, "School Size":school_size, "Total School Budget":per_school_budget, 
                                   "Per Student Budget":per_student_budget, "Spending Ranges (Per Student)": spending_ranges, "Average Math Score":average_math_score, 
                                   "Average Reading Score":average_reading_score, "% Passing Math":per_school_passing_math, "% Passing Reading":per_school_passing_reading, 
                                    "% Overall Passing":overall_passing_rate})
#Formatting
complete_school_summary["Total School Budget"] = complete_school_summary["Total School Budget"].map("${:,.2f}".format)
complete_school_summary["Per Student Budget"] = complete_school_summary["Per Student Budget"].map("${:,.2f}".format)
complete_school_summary["Average Math Score"] = complete_school_summary["Average Math Score"].map("{:,.1f}%".format)
complete_school_summary["Average Reading Score"] = complete_school_summary["Average Reading Score"].map("{:,.1f}%".format)
complete_school_summary["% Passing Math"] = complete_school_summary["% Passing Math"].map("{:,.1f}%".format)
complete_school_summary["% Passing Reading"] = complete_school_summary["% Passing Reading"].map("{:,.1f}%".format)
complete_school_summary["% Overall Passing"] = complete_school_summary["% Overall Passing"].map("{:,.1f}%".format)

#Style DataFrame
def make_pretty(styler):
    styler.set_caption("Complete School Summary")
    return styler

#Display results
complete_school_summary

,School Type,Total Students,School Size,Total School Budget,Per Student Budget,Spending Ranges (Per Student),Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,Large (2000-5000),"$3,124,928.00",$628.00,$585-630,77.0%,81.0%,66.7%,81.9%,54.6%
Cabrera High School,Charter,1858,Medium (1000-2000),"$1,081,356.00",$582.00,<$585,83.1%,84.0%,94.1%,97.0%,91.3%
Figueroa High School,District,2949,Large (2000-5000),"$1,884,411.00",$639.00,$630-645,76.7%,81.2%,66.0%,80.7%,53.2%
Ford High School,District,2739,Large (2000-5000),"$1,763,916.00",$644.00,$630-645,77.1%,80.7%,68.3%,79.3%,54.3%
Griffin High School,Charter,1468,Medium (1000-2000),"$917,500.00",$625.00,$585-630,83.4%,83.8%,93.4%,97.1%,90.6%
Hernandez High School,District,4635,Large (2000-5000),"$3,022,020.00",$652.00,$645-680,77.3%,80.9%,66.8%,80.9%,53.5%
Holden High School,Charter,427,Small (<1000),"$248,087.00",$581.00,<$585,83.8%,83.8%,92.5%,96.3%,89.2%
Huang High School,District,2917,Large (2000-5000),"$1,910,635.00",$655.00,$645-680,76.6%,81.2%,65.7%,81.3%,53.5%
Johnson High School,District,4761,Large (2000-5000),"$3,094,650.00",$650.00,$645-680,77.1%,81.0%,66.1%,81.2%,53.5%
Pena High School,Charter,962,Small (<1000),"$585,858.00",$609.00,$585-630,83.8%,84.0%,94.6%,95.9%,90.5%
Rodriguez High School,District,3999,Large (2000-5000),"$2,547,363.00",$637.00,$630-645,76.8%,80.7%,66.4%,80.2%,53.0%
Shelton High School,Charter,1761,Medium (1000-2000),"$1,056,600.00",$600.00,$585-630,83.4%,83.7%,93.9%,95.9%,89.9%
Thomas High School,Charter,1635,Medium (1000-2000),"$1,043,130.00",$638.00,$630-645,83.4%,83.8%,93.3%,97.3%,90.9%
Wilson High School,Charter,2283,Large (2000-5000),"$1,319,574.00",$578.00,<$585,83.3%,84.0%,93.9%,96.5%,90.6%
Wright High School,Charter,1800,Medium (1000-2000),"$1,049,400.00",$583.00,<$585,83.7%,84.0%,93.3%,96.6%,90.3%

In [36]:
scores_by_grade = pd.DataFrame({"9th Grade Math Scores":ninth_grade_math_scores, "9th Grade Reading Scores":ninth_grade_reading_scores,
                                "10th Grade Math Scores":tenth_grade_math_scores, "10th Grade Reading Scores": tenth_grade_reading_scores,
                                "11th Grade Math Scores":eleventh_grade_math_scores, "11th Grade Reading Scores":eleventh_grade_reading_scores,
                                "12th Grade Math Scores":twelfth_grade_math_scores, "12th Grade Reading Scores":twelfth_grade_reading_scores})
#Formatting
scores_by_grade["9th Grade Math Scores"] = scores_by_grade["9th Grade Math Scores"].map("{:,.1f}%".format)
scores_by_grade["9th Grade Reading Scores"] = scores_by_grade["9th Grade Reading Scores"].map("{:,.1f}%".format)
scores_by_grade["10th Grade Math Scores"] = scores_by_grade["10th Grade Math Scores"].map("{:,.1f}%".format)
scores_by_grade["10th Grade Reading Scores"] = scores_by_grade["10th Grade Reading Scores"].map("{:,.1f}%".format)
scores_by_grade["11th Grade Math Scores"] = scores_by_grade["11th Grade Math Scores"].map("{:,.1f}%".format)
scores_by_grade["11th Grade Reading Scores"] = scores_by_grade["11th Grade Reading Scores"].map("{:,.1f}%".format)
scores_by_grade["12th Grade Math Scores"] = scores_by_grade["12th Grade Math Scores"].map("{:,.1f}%".format)
scores_by_grade["12th Grade Reading Scores"] = scores_by_grade["12th Grade Reading Scores"].map("{:,.1f}%".format)

#Display results
scores_by_grade

,9th Grade Math Scores,9th Grade Reading Scores,10th Grade Math Scores,10th Grade Reading Scores,11th Grade Math Scores,11th Grade Reading Scores,12th Grade Math Scores,12th Grade Reading Scores
Bailey High School,77.1%,81.3%,77.0%,80.9%,77.5%,80.9%,76.5%,80.9%
Cabrera High School,83.1%,83.7%,83.2%,84.3%,82.8%,83.8%,83.3%,84.3%
Figueroa High School,76.4%,81.2%,76.5%,81.4%,76.9%,80.6%,77.2%,81.4%
Ford High School,77.4%,80.6%,77.7%,81.3%,76.9%,80.4%,76.2%,80.7%
Griffin High School,82.0%,83.4%,84.2%,83.7%,83.8%,84.3%,83.4%,84.0%
Hernandez High School,77.4%,80.9%,77.3%,80.7%,77.1%,81.4%,77.2%,80.9%
Holden High School,83.8%,83.7%,83.4%,83.3%,85.0%,83.8%,82.9%,84.7%
Huang High School,77.0%,81.3%,75.9%,81.5%,76.4%,81.4%,77.2%,80.3%
Johnson High School,77.2%,81.3%,76.7%,80.8%,77.5%,80.6%,76.9%,81.2%
Pena High School,83.6%,83.8%,83.4%,83.6%,84.3%,84.3%,84.1%,84.6%
Rodriguez High School,76.9%,81.0%,76.6%,80.6%,76.4%,80.9%,77.7%,80.4%
Shelton High School,83.4%,84.1%,82.9%,83.4%,83.4%,84.4%,83.8%,82.8%
Thomas High School,83.6%,83.7%,83.1%,84.3%,83.5%,83.6%,83.5%,83.8%
Wilson High School,83.1%,83.9%,83.7%,84.0%,83.2%,83.8%,83.0%,84.3%
Wright High School,83.3%,83.8%,84.0%,83.8%,83.8%,84.2%,83.6%,84.1%

In [39]:
#Create function to add titles to DataFrames
#Title for School Summary
def school_title(styler):
    styler.set_caption("Complete School Summary")
    return styler
final_school_summary = complete_school_summary.style.pipe(school_title)
#Title for Size Summary
def size_title(styler):
    styler.set_caption("Size of School Summary")
    return styler
final_size_summary = size_summary.style.pipe(size_title)
#Title for Spending Summary
def spend_title(styler):
    styler.set_caption("School Spending Summary")
    return styler
final_spend_summary = spending_summary.style.pipe(spend_title)
#Title for Type Summary
def type_title(styler):
    styler.set_caption("School Type Summary")
    return styler
final_type_summary = type_summary.style.pipe(type_title)
#Title for Scores by Grade Summary
def scores_title(styler):
    styler.set_caption("School Type Summary")
    return styler
final_scores = scores_by_grade.style.pipe(scores_title)

#Export DataFrames to PNG files
dfi.export(final_school_summary, "FinalSchoolSummary.png")
dfi.export(final_size_summary, "FinalSizeSummary.png")
dfi.export(final_spend_summary, "FinalSpendingSummary.png")
dfi.export(final_type_summary, "FinalTypeSummary.png")
dfi.export(final_scores, "ScoresByGrade.png")

In [38]:
table_title="Title"