In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
# Calculate the total number of unique schools
school_count = school_data["school_name"].nunique()
school_count

15

In [3]:
# Calculate the total number of students
student_count = student_data["Student ID"].count()
student_count

39170

In [4]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [5]:
# Calculate the average (mean) math score
average_math_score = student_data["math_score"].mean()
average_math_score

78.98537145774827

In [6]:
# Calculate the average (mean) reading score
average_reading_score = student_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
student_count = student_data["student_name"].count()
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
student_count = student_data["student_name"].count()
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame

district_summary = pd.DataFrame({"Total Schools":[school_count], "Total Students":[student_count],
                                 "Total Budget": [total_budget], "Average Math Score":[average_math_score],
                                 "Average Reading Score":[average_reading_score], "% Passing Math":[passing_math_percentage],
                                  "% Passing Reading":[passing_reading_percentage], "% Overall Passing":[overall_passing_rate]})
# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [30]:
#school_index = school_data.set_index("school_name")
#school_types = school_index["type"].value_counts()
school_types = school_data.groupby("school_name")["type"].value_counts()
school_types

school_name            type
Bailey High School     District    1
Cabrera High School    Charter     1
Figueroa High School   District    1
Ford High School       District    1
Griffin High School    Charter     1
Hernandez High School  District    1
Holden High School     Charter     1
Huang High School      District    1
Johnson High School    District    1
Pena High School       Charter     1
Rodriguez High School  District    1
Shelton High School    Charter     1
Thomas High School     Charter     1
Wilson High School     Charter     1
Wright High School     Charter     1
Name: type, dtype: int64

In [31]:
# Calculate the total student count per school
per_school_counts = school_data_complete.groupby("school_name")["student_name"].count()
#school_data["students_per_school"] = per_school_counts
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [32]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data.groupby("school_name")["budget"].mean()

#Divide the budget per school by the number of students at each school
per_school_capita = per_school_budget / per_school_counts

per_school_budget
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [33]:
# Calculate the average test scores per school

per_school_math = school_data_complete.groupby("school_name")["math_score"].mean()
per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()

per_school_math
per_school_reading

math_reading_score = [[per_school_math, per_school_reading]]
#pd.DataFrame().assign(per_school_math=school_data["average_math_score"], per_school_reading=school_data["average_reading_score"])
math_reading_score

[[school_name
  Bailey High School       77.048432
  Cabrera High School      83.061895
  Figueroa High School     76.711767
  Ford High School         77.102592
  Griffin High School      83.351499
  Hernandez High School    77.289752
  Holden High School       83.803279
  Huang High School        76.629414
  Johnson High School      77.072464
  Pena High School         83.839917
  Rodriguez High School    76.842711
  Shelton High School      83.359455
  Thomas High School       83.418349
  Wilson High School       83.274201
  Wright High School       83.682222
  Name: math_score, dtype: float64,
  school_name
  Bailey High School       81.033963
  Cabrera High School      83.975780
  Figueroa High School     81.158020
  Ford High School         80.746258
  Griffin High School      83.816757
  Hernandez High School    80.934412
  Holden High School       83.814988
  Huang High School        81.182722
  Johnson High School      80.966394
  Pena High School         84.044699
  Rodriguez High School    80.744686
  Shelton High School      83.725724
  Thomas High School       83.848930
  Wilson High School       83.989488
  Wright High School       83.955000
  Name: reading_score, dtype: float64]]

In [34]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete.loc[school_data_complete["math_score"] >= 70]
school_students_passing_math = students_passing_math.groupby("school_name")["math_score"].count()
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: math_score, dtype: int64

In [35]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70]
school_students_passing_reading = students_passing_reading.groupby("school_name")["reading_score"].count()
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: reading_score, dtype: int64

In [36]:
# Calculate number of students per school passing both math and reading
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [37]:
# Calculate passing rates for math, reading, and both
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100